<!--looping products -->
{{# each products }}

<div class="row">
    {{# each this }}

<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{{ this.imaginePath }}" class="card-img-top" style="display:block-inline;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantof 1</h5>
    <p class="card-text">Pantofii isi gasesc cu usurinta un loc aparte in colectia de incaltaminte a fiecarei persoane. </p>

      <a href="#" class="btn btn-success" role="button">Adauga in cos</a>

    <div class="price" style="display:inline">90 lei</div>
  </div>
</div>
</div>
        {{/each}}
    </div>
{{/each}}

<div class="row">

<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" style="display:block-inline;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantof 1</h5>
    <p class="card-text">Pantofii isi gasesc cu usurinta un loc aparte in colectia de incaltaminte a fiecarei persoane. </p>

      <a href="#" class="btn btn-success" role="button">Adauga in cos</a>

    <div class="price" style="display:inline">90 lei</div>
  </div>
</div>
</div>

<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" style="display:block-inline;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantof 1</h5>
    <p class="card-text">Pantofii isi gasesc cu usurinta un loc aparte in colectia de incaltaminte a fiecarei persoane. </p>

      <a href="#" class="btn btn-success" role="button">Adauga in cos</a>

    <div class="price" style="display:inline">90 lei</div>
  </div>
</div>
</div>

<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" style="display:block-inline;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantof 1</h5>
    <p class="card-text">Pantofii isi gasesc cu usurinta un loc aparte in colectia de incaltaminte a fiecarei persoane. </p>

      <a href="#" class="btn btn-success" role="button">Adauga in cos</a>

    <div class="price" style="display:inline">90 lei</div>
  </div>
</div>
</div>

<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" style="display:block-inline;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantof 1</h5>
    <p class="card-text">Pantofii isi gasesc cu usurinta un loc aparte in colectia de incaltaminte a fiecarei persoane. </p>

      <a href="#" class="btn btn-success" role="button">Adauga in cos</a>

    <div class="price" style="display:inline">90 lei</div>
  </div>
</div>
</div>





</div>

